# üìö ***Import Libraries***

In [1]:
# base libraries for data science
from pathlib import Path
import pandas as pd

# üóÉÔ∏è ***Load Data***

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
url_data = "https://github.com/JoseRZapata/Data_analysis_notebooks/raw/refs/heads/main/data/datasets/nyc-rolling-sales_data.csv"
nyc_houses_df = pd.read_csv(url_data, low_memory=False)  # no parsing of mixed types
nyc_houses_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137276 entries, 0 to 137275
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   BUILDING CLASS AT PRESENT       137274 non-null  object
 1   data_source                     137274 non-null  object
 2   COMMERCIAL UNITS                137274 non-null  float64
 3   value                           137274 non-null  float64
 4   BUILDING CLASS CATEGORY         137274 non-null  object
 5   BUILDING CLASS AT TIME OF SALE  137274 non-null  object
 6   LOT                             137274 non-null  float64
 7   LOT                             137274 non-null  float64
 8   TOTAL UNITS                     137274 non-null  float64
 9   TAX CLASS AT TIME OF SALE       137274 non-null  float64
 10  ADDRESS                         137274 non-null  object
 11  xml                             0 non-null       float64
 12  EASE-MENT                       137274 non-null  object
 13  TAX CLASS AT PRESENT            137274 non-null  object
 14  ZIP CODE                        137274 non-null  float64
 15  SALE DATE                       137274 non-null  object
 16  NEIGHBORHOOD                    137274 non-null  object
 17  SALE DATE                       137274 non-null  object
 18  RESIDENTIAL UNITS               137274 non-null  float64
 19  COMMERCIAL UNITS                137274 non-null  float64
 20  GROSS SQUARE FEET               137274 non-null  object
 21  BOROUGH                         137274 non-null  float64
 22  BLOCK                           137274 non-null  float64
 23  SALE PRICE                      137274 non-null  object
 24  APARTMENT NUMBER                137274 non-null  object
 25  YEAR BUILT                      137274 non-null  float64
 26  LAND SQUARE FEET                137274 non-null  object
 27  Unnamed: 0                      137274 non-null  float64
 28  ZIP CODE                        137274 non-null  float64
dtypes: float64(15), object(14)
memory usage: 30.4+ MB

In [4]:
len(nyc_houses_df)  # number of rows

137276

In [5]:
nyc_houses_df.head()

,BUILDING CLASS AT PRESENT,data_source,COMMERCIAL UNITS,value,BUILDING CLASS CATEGORY,BUILDING CLASS AT TIME OF SALE,LOT,LOT,TOTAL UNITS,TAX CLASS AT TIME OF SALE,ADDRESS,xml,EASE-MENT,TAX CLASS AT PRESENT,ZIP CODE,SALE DATE,NEIGHBORHOOD,SALE DATE,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,BOROUGH,BLOCK,SALE PRICE,APARTMENT NUMBER,YEAR BUILT,LAND SQUARE FEET,Unnamed: 0,ZIP CODE
0,A2,uci,0.0,243637.0,01 ONE FAMILY DWELLINGS,A2,37.0,37.0,1.0,1.0,1074 WOODROW ROAD,NaN,,1,10312.0,2016-11-09 00:00:00,HUGUENOT,2016-11-09 00:00:00,1.0,0.0,2510,5.0,6846.0,610000,,1978.0,6040,3121.0,10312.0
1,R4,uci,0.0,243637.0,13 CONDOS - ELEVATOR APARTMENTS,R4,1204.0,1204.0,1.0,2.0,337 CARROLL STREET,NaN,,2,11231.0,2016-11-30 00:00:00,GOWANUS,2016-11-30 00:00:00,1.0,0.0,0,3.0,444.0,2803187,G D,2015.0,0,14446.0,11231.0
2,R1,uci,0.0,243637.0,15 CONDOS - 2-10 UNIT RESIDENTIAL,R1,1103.0,1103.0,1.0,2.0,34 WEST 17TH STREET,NaN,,2C,10011.0,2017-05-03 00:00:00,FLATIRON,2017-05-03 00:00:00,1.0,0.0,-,1.0,818.0,3871895,3,1910.0,-,3004.0,10011.0
3,D9,uci,0.0,243637.0,08 RENTALS - ELEVATOR APARTMENTS,D9,29.0,29.0,16.0,2.0,369 OCEAN AVENUE,NaN,,2,11226.0,2016-12-27 00:00:00,FLATBUSH-CENTRAL,2016-12-27 00:00:00,16.0,0.0,11036,3.0,5062.0,0,,1931.0,3886,12144.0,11226.0
4,A1,uci,0.0,243637.0,01 ONE FAMILY DWELLINGS,A1,70.0,70.0,1.0,1.0,205-24 MURDOCK AVENUE,NaN,,1,11412.0,2016-11-03 00:00:00,ST. ALBANS,2016-11-03 00:00:00,1.0,0.0,2239,4.0,11022.0,478500,,1935.0,3000,24760.0,11412.0

## üëÄ ***View information for all columns***

In [6]:
columns = nyc_houses_df.columns
columns

Index(['BUILDING CLASS AT PRESENT', 'data_source', 'COMMERCIAL UNITS', 'value',
       'BUILDING CLASS CATEGORY', 'BUILDING CLASS AT TIME OF SALE', 'LOT ',
       'LOT', 'TOTAL UNITS', 'TAX CLASS AT TIME OF SALE', 'ADDRESS', 'xml',
       'EASE-MENT', 'TAX CLASS AT PRESENT', 'ZIP CODE', 'SALE DATE',
       'NEIGHBORHOOD', 'SALE DATE ', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS ',
       'GROSS SQUARE FEET', 'BOROUGH', 'BLOCK', 'SALE PRICE',
       'APARTMENT NUMBER', 'YEAR BUILT', 'LAND SQUARE FEET', 'Unnamed: 0',
       'ZIP CODE '],
      dtype='object')

In [7]:
i = 0
for col in nyc_houses_df.columns:
    print(f"{i+1}. {col}")
    print(f"Type: {nyc_houses_df[col].dtype}")
    print(f"Nulls: {nyc_houses_df[col].isnull().sum()} / {len(nyc_houses_df)}")
    print(f"Unique: {nyc_houses_df[col].nunique()}")
    print("-" * 50)
    i += 1

1. BUILDING CLASS AT PRESENT
Type: object
Nulls: 2 / 137276
Unique: 164
--------------------------------------------------
2. data_source
Type: object
Nulls: 2 / 137276
Unique: 1
--------------------------------------------------
3. COMMERCIAL UNITS
Type: float64
Nulls: 2 / 137276
Unique: 46
--------------------------------------------------
4. value
Type: float64
Nulls: 2 / 137276
Unique: 1
--------------------------------------------------
5. BUILDING CLASS CATEGORY
Type: object
Nulls: 2 / 137276
Unique: 47
--------------------------------------------------
6. BUILDING CLASS AT TIME OF SALE
Type: object
Nulls: 2 / 137276
Unique: 164
--------------------------------------------------
7. LOT
Type: float64
Nulls: 2 / 137276
Unique: 2421
--------------------------------------------------
8. LOT
Type: float64
Nulls: 2 / 137276
Unique: 2421
--------------------------------------------------
9. TOTAL UNITS
Type: float64
Nulls: 2 / 137276
Unique: 169
--------------------------------------------------
10. TAX CLASS AT TIME OF SALE
Type: float64
Nulls: 2 / 137276
Unique: 4
--------------------------------------------------
11. ADDRESS
Type: object
Nulls: 2 / 137276
Unique: 55001
--------------------------------------------------
12. xml
Type: float64
Nulls: 137276 / 137276
Unique: 0
--------------------------------------------------
13. EASE-MENT
Type: object
Nulls: 2 / 137276
Unique: 1
--------------------------------------------------
14. TAX CLASS AT PRESENT
Type: object
Nulls: 2 / 137276
Unique: 11
--------------------------------------------------
15. ZIP CODE
Type: float64
Nulls: 2 / 137276
Unique: 185
--------------------------------------------------
16. SALE DATE
Type: object
Nulls: 2 / 137276
Unique: 363
--------------------------------------------------
17. NEIGHBORHOOD
Type: object
Nulls: 2 / 137276
Unique: 253
--------------------------------------------------
18. SALE DATE
Type: object
Nulls: 2 / 137276
Unique: 363
--------------------------------------------------
19. RESIDENTIAL UNITS
Type: float64
Nulls: 2 / 137276
Unique: 153
--------------------------------------------------
20. COMMERCIAL UNITS
Type: float64
Nulls: 2 / 137276
Unique: 46
--------------------------------------------------
21. GROSS SQUARE FEET
Type: object
Nulls: 2 / 137276
Unique: 5175
--------------------------------------------------
22. BOROUGH
Type: float64
Nulls: 2 / 137276
Unique: 5
--------------------------------------------------
23. BLOCK
Type: float64
Nulls: 2 / 137276
Unique: 11081
--------------------------------------------------
24. SALE PRICE
Type: object
Nulls: 2 / 137276
Unique: 8647
--------------------------------------------------
25. APARTMENT NUMBER
Type: object
Nulls: 2 / 137276
Unique: 3487
--------------------------------------------------
26. YEAR BUILT
Type: float64
Nulls: 2 / 137276
Unique: 157
--------------------------------------------------
27. LAND SQUARE FEET
Type: object
Nulls: 2 / 137276
Unique: 5500
--------------------------------------------------
28. Unnamed: 0
Type: float64
Nulls: 2 / 137276
Unique: 25862
--------------------------------------------------
29. ZIP CODE
Type: float64
Nulls: 2 / 137276
Unique: 185
--------------------------------------------------

In [8]:
nyc_houses_df.sample(10)

,BUILDING CLASS AT PRESENT,data_source,COMMERCIAL UNITS,value,BUILDING CLASS CATEGORY,BUILDING CLASS AT TIME OF SALE,LOT,LOT,TOTAL UNITS,TAX CLASS AT TIME OF SALE,ADDRESS,xml,EASE-MENT,TAX CLASS AT PRESENT,ZIP CODE,SALE DATE,NEIGHBORHOOD,SALE DATE,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,BOROUGH,BLOCK,SALE PRICE,APARTMENT NUMBER,YEAR BUILT,LAND SQUARE FEET,Unnamed: 0,ZIP CODE
19494,RB,uci,0.0,243637.0,43 CONDO OFFICE BUILDINGS,RB,1004.0,1004.0,1.0,4.0,321 BROADWAY,NaN,,4,10007.0,2017-01-20 00:00:00,CIVIC CENTER,2017-01-20 00:00:00,0.0,0.0,-,1.0,152.0,975000,4,1900.0,-,1436.0,10007.0
124930,D4,uci,0.0,243637.0,10 COOPS - ELEVATOR APARTMENTS,D4,57.0,57.0,0.0,2.0,"70 REMSEN STREET, 5E/F",NaN,,2,11201.0,2016-09-21 00:00:00,BROOKLYN HEIGHTS,2016-09-21 00:00:00,0.0,0.0,0,3.0,253.0,899000,,1928.0,0,5517.0,11201.0
4781,R2,uci,0.0,243637.0,12 CONDOS - WALKUP APARTMENTS,R2,1035.0,1035.0,1.0,2.0,1292 ROCKLAND AVENUE,NaN,,2,10314.0,2017-06-15 00:00:00,NEW SPRINGVILLE,2017-06-15 00:00:00,1.0,0.0,-,5.0,2360.0,-,1C,1973.0,-,5044.0,10314.0
39035,B9,uci,0.0,243637.0,02 TWO FAMILY DWELLINGS,B9,175.0,175.0,2.0,1.0,17 MAXIE COURT,NaN,,1,10304.0,2017-06-26 00:00:00,GRYMES HILL,2017-06-26 00:00:00,2.0,0.0,2010,5.0,615.0,450000,,2002.0,1162,3030.0,10304.0
76578,D4,uci,0.0,243637.0,10 COOPS - ELEVATOR APARTMENTS,D4,23.0,23.0,0.0,2.0,"80 EAST END AVE, 17A",NaN,,2,10028.0,2017-02-27 00:00:00,UPPER EAST SIDE (79-96),2017-02-27 00:00:00,0.0,0.0,-,1.0,1580.0,649000,,1958.0,-,14294.0,10028.0
69789,C6,uci,0.0,243637.0,09 COOPS - WALKUP APARTMENTS,C6,2.0,2.0,0.0,2.0,"144-67 CHARTER ROAD, 13GD",NaN,,2,11435.0,2016-10-28 00:00:00,HILLCREST,2016-10-28 00:00:00,0.0,0.0,-,4.0,6715.0,-,,1947.0,-,12816.0,11435.0
126716,A5,uci,0.0,243637.0,01 ONE FAMILY DWELLINGS,A5,28.0,28.0,1.0,1.0,114-46 145TH STREET,NaN,,1,11436.0,2016-12-20 00:00:00,SO. JAMAICA-BAISLEY PARK,2016-12-20 00:00:00,1.0,0.0,1120,4.0,11974.0,444000,,1920.0,2000,22290.0,11436.0
99772,C2,uci,0.0,243637.0,07 RENTALS - WALKUP APARTMENTS,C2,19.0,19.0,6.0,2.0,619 UNION AVENUE,NaN,,2A,11211.0,2017-02-02 00:00:00,WILLIAMSBURG-NORTH,2017-02-02 00:00:00,6.0,0.0,3750,3.0,2292.0,1900000,,1910.0,2550,22944.0,11211.0
8498,D4,uci,0.0,243637.0,10 COOPS - ELEVATOR APARTMENTS,D4,1.0,1.0,0.0,2.0,"27010 GRAND CENTRAL PARKWA, 27S",NaN,,2,11005.0,2017-02-28 00:00:00,GLEN OAKS,2017-02-28 00:00:00,0.0,0.0,-,4.0,8489.0,520000,,1972.0,-,12137.0,11005.0
10079,A9,uci,0.0,243637.0,01 ONE FAMILY DWELLINGS,A9,34.0,34.0,1.0,1.0,755 BELMONT AVENUE,NaN,,1,11208.0,2017-03-29 00:00:00,EAST NEW YORK,2017-03-29 00:00:00,1.0,0.0,850,3.0,4019.0,499999,,1901.0,1600,10878.0,11208.0

In [9]:
# non-relevant columns
nyc_houses_df = nyc_houses_df.drop(columns=['data_source','xml','Unnamed: 0'])

# Confirm removal
print("\nUpdated DataFrame columns:")
print(nyc_houses_df.columns)

Updated DataFrame columns:
Index(['BUILDING CLASS AT PRESENT', 'COMMERCIAL UNITS', 'value',
       'BUILDING CLASS CATEGORY', 'BUILDING CLASS AT TIME OF SALE', 'LOT ',
       'LOT', 'TOTAL UNITS', 'TAX CLASS AT TIME OF SALE', 'ADDRESS',
       'EASE-MENT', 'TAX CLASS AT PRESENT', 'ZIP CODE', 'SALE DATE',
       'NEIGHBORHOOD', 'SALE DATE ', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS ',
       'GROSS SQUARE FEET', 'BOROUGH', 'BLOCK', 'SALE PRICE',
       'APARTMENT NUMBER', 'YEAR BUILT', 'LAND SQUARE FEET', 'ZIP CODE '],
      dtype='object')

## üíæ ***Save dataset in local format***

In [10]:
nyc_houses_final_df = pd.read_csv(url_data, usecols=nyc_houses_df.columns, low_memory=False)
nyc_houses_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137276 entries, 0 to 137275
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   BUILDING CLASS AT PRESENT       137274 non-null  object
 1   COMMERCIAL UNITS                137274 non-null  float64
 2   value                           137274 non-null  float64
 3   BUILDING CLASS CATEGORY         137274 non-null  object
 4   BUILDING CLASS AT TIME OF SALE  137274 non-null  object
 5   LOT                             137274 non-null  float64
 6   LOT                             137274 non-null  float64
 7   TOTAL UNITS                     137274 non-null  float64
 8   TAX CLASS AT TIME OF SALE       137274 non-null  float64
 9   ADDRESS                         137274 non-null  object
 10  EASE-MENT                       137274 non-null  object
 11  TAX CLASS AT PRESENT            137274 non-null  object
 12  ZIP CODE                        137274 non-null  float64
 13  SALE DATE                       137274 non-null  object
 14  NEIGHBORHOOD                    137274 non-null  object
 15  SALE DATE                       137274 non-null  object
 16  RESIDENTIAL UNITS               137274 non-null  float64
 17  COMMERCIAL UNITS                137274 non-null  float64
 18  GROSS SQUARE FEET               137274 non-null  object
 19  BOROUGH                         137274 non-null  float64
 20  BLOCK                           137274 non-null  float64
 21  SALE PRICE                      137274 non-null  object
 22  APARTMENT NUMBER                137274 non-null  object
 23  YEAR BUILT                      137274 non-null  float64
 24  LAND SQUARE FEET                137274 non-null  object
 25  ZIP CODE                        137274 non-null  float64
dtypes: float64(13), object(13)
memory usage: 27.2+ MB

In [11]:
Path.cwd().resolve().parents[0]  # Define el directorio y el archivo
DATA_DIR = Path.cwd().resolve().parents[0] / "data/01_raw"
print(DATA_DIR)

file_path = DATA_DIR / "nyc_houses_raw.csv"

# Create the directory if it doesn't exist
DATA_DIR.mkdir(parents=True, exist_ok=True)

nyc_houses_final_df.to_csv(file_path, index=False)

/workspaces/NYC-houses/data/01_raw

# ***Questions***‚ùì

##### ***1. What is the objective of the problem?***

Develop a **Machine Learning model** that can predict the selling price of a property in New York City based on characteristics such as location, building type, number of units, square footage, year built, and other relevant variables.

#### ***2. How will your solution be used?***
- Help buyers and sellers estimate the fair price of a property.
- Assist investors in making decisions about the profitability of properties.
- Automate property valuation for real estate platforms.
- Analyze market trends and detect changes in property values.

#### ***3. What are the current solutions (if any)?***
There are platforms such as **Zillow**, **Redfin**, and **Realtor** that offer property price estimates using advanced models.

However:

- They don't always explain how they arrive at their values.
- Their models may not be optimized for certain segments of the NYC market.
- Not all data is open, so building your own model allows for more flexibility.

#### ***4. How should this problem be framed (supervised/unsupervised, online/offline, etc.)*** 
- Problem type: **Supervised**, because you have historical data with a target variable (`SALE PRICE`).
- Learning type: **Regression**, because you are predicting a numerical value.
- Mode of use: **Off-line (batch processing)**, since the model can be trained with historical data and be updated periodically.
    
***Note to contextualize the mode of use:***

- **On-line (Online Learning / Real-Time)**.
    - The model learns and updates its predictions in real time.
    - It is used in applications where data is constantly changing.
    - Example: Uber dynamic pricing, where the price of a trip changes minute by minute.
- **Offline (Batch Processing)**.
    - The model is trained with historical data and updated periodically.
    - Used when data is not constantly changing and real-time prediction is not needed.
    - Example:
        - Train the model with property sales data every month.
        - Make predictions based on recent data and update from time to time.

#### ***5. How should the performance of the solution be measured, a first intuition?***
    
To evaluate the performance of the model, the following metrics (regression) can be used:

- **Mean Absolute Average Error (MAE):** Average of the absolute difference between the actual and predicted price.
- **Mean Squared Error (MSE):** Penalizes large errors in the prediction.
- **Root Mean Squared Error (RMSE):** MSE on the same scale as prices.
- **Coefficient of Determination (R¬≤):** Indicates how well the model explains the variability in prices.

#### ***6. Is the performance measure aligned with the objective of the problem?***
    
Yes, because a low **MAE/RMSE** indicates that the model predicts prices accurately, which is key for buyers and investors. If the model has **a high R¬≤**, it means it is capturing market patterns well.

#### ***7. What would be the minimum performance or yield needed to achieve the objective of the problem?***
    
For the model to be useful:

- **MAE** should be below **10-15%** of the average property price.
- An **R¬≤ greater than 0.75** would indicate that the model captures price variability well.

If the error is too high, the model would not be reliable for making purchase or investment decisions.

#### ***8. What are the similar problems? Can experiences or tools already created be reused?***
- Price prediction models used by **Zillow (Zestimate)** or **Redfin**.
- Previous studies in **Kaggle and GitHub** on real estate price prediction.
- Regression algorithms used in price prediction for cars, rentals and other industries.

Techniques such as:

- Linear Regression, Random Forest or Gradient Boosting (XGBoost, LightGBM).
- Feature Engineering to improve predictions.
- Correlation analysis to reduce irrelevant variables.

#### ***9. Is there experience of the problem available?***

Yes, there are many previous studies on real estate price prediction:

- **Zillow publishes papers on its Zestimate Model**.
- There are **open datasets on Kaggle and GitHub** with models already applied in other markets.
- In NYC, prices strongly depend on **location (borough, neighborhood)**, so there are specific studies in this city.

#### ***10. (Important) How can the problem be solved manually?***
    
If a person wanted to predict the price manually, he/she would have to:

1. compare prices of similar properties in the same area.
2. Consider characteristics such as:
    - Size in square feet (`GROSS SQUARE FEET`).
    - Type of property (`BUILDING CLASS`).
    - Number of units (`RESIDENTIAL UNITS`, `COMMERCIAL UNITS`).
    - Year of construction (`YEAR BUILT`).
    - Taxes and location (`ZIP CODE`, `NEIGHBORHOOD`).
3. Apply adjustments based on market trends.
4. This could be done by an appraiser, therefore, the person can hire one.

***Appraiser:*** is a professional who determines the commercial value of goods and properties. To do so, he/she performs a technical study and issues a document called appraisal. 

The problem is that this manual process **is slow and subjective**, while a model can make these estimates automatically with high precision.

#### ***11. List the assumptions that exist at this time.***
    
##### ***Initial assumptions***

1. **Data is reliable:** No gross errors or critical missing values.
2. **Prices reflect actual property values:** Although there are `$0` values, these represent transfers without payment.
3. **Price depends on location and physical characteristics:** Although other factors (market conditions, interest rates) may influence.
4. **Historical data is representative of the current market:** This is key to making accurate future predictions.
5. **There is no bias in the data:** If there are more records of a property type or neighborhood, the model could be over-fit.